name: Testautomation project

on:
  push: {}

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore "TestautomationProject/IntegrationTestProject.Test/IntegrationTestProject.Test.csproj"
      
      - name: Build
        run: dotnet build "TestautomationProject/IntegrationTestProject.Test/IntegrationTestProject.Test.csproj" --no-restore --configuration Release
      
      - name: Test
        run: dotnet test "TestautomationProject/IntegrationTestProject.Test/IntegrationTestProject.Test.csproj" --no-build --configuration Release --verbosity normal --logger "trx;LogFileName=test_results.trx"
      
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: '**/TestResults/*.trx'    
